:root {
    color-scheme: light;
}

body {
    color: CanvasText;
    background-color: Canvas;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#results_table {
    float: left;
    width: 65%;
    height: 400px;
}

#is_in_area_table {
    width: 100%;
    border: solid;
}

#is_in_area_table.table_of_result th {
    font-weight: bold;
    border: 2px solid;
}

#is_in_area_table.table_of_result td {
    border: solid;
}

#input_space {
    float: right;
    width: 30%
}

canvas.square_canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.table-container {
    height: 10em;
}

table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

table thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    border: 1px solid;
}

table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid;
}

table tbody tr {
    width: 100%;
}

table thead, table tbody tr {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

table th
{
    border-collapse: collapse;
    height: 35px;
}

table td 
{
    border-collapse: collapse;
    text-align: center;
    padding: 12px 15px;
}

.table_of_results {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table_of_results tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table_of_results tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table_of_results tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}