:root {
    color-scheme: light;
}

body {
    color: CanvasText;
    background-color: Canvas;
}

div#header h1 {
    text-align: center;
    font-family: 'Serif', serif;
    font-size: xx-large;
    color: rgb(0, 0, 83);
}

div#header h2 {
    text-align: center;
    font-family: 'Serif', serif;
    font-size: x-large;
    color: rgb(0, 0, 83);
}

#results_table_space {
    float: left;
    width: 65%;
    margin-bottom: 100vh;
}

#is_in_area_table {
    height: 80vh;
}

#results_table_space .table_of_results {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#results_table_space .table_of_results thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

#results_table_space .table_of_results tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

#results_table_space .table_of_results tbody tr {
    width: 100%;
}

#results_table_space .table_of_results thead,table tbody tr {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}

#results_table_space .table_of_results th {
    border-collapse: collapse;
    height: 35px;
}

#results_table_space .table_of_results td {
    border-collapse: collapse;
    text-align: center;
    padding: 12px 15px;
}

#results_table_space .table_of_results tbody tr {
    border-bottom: 1px solid #dddddd;
}

#results_table_space .table_of_results tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#results_table_space .table_of_results tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#input_space {
    float: right;
    width: 30%;
}

div .jxgbox
{
    aspect-ratio: 1/1;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#check_button{
    margin-left: 5%;
    margin-top: 2%;
}

span.input_error
{
    display: block;
    color: red;
    margin: 5px 0 0 0;
}
